* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.capital-letter {
  text-transform: uppercase;
}
.section-1{
  height: 150px;
  background: #e1e1e1;
  padding-left: 175px;
  padding-top: 20px;
}
.section-1 h3 {
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
  color: #2a2440;
}
.section-1 span a {
  display: inline-block;
  padding: 0 12px;
  position: relative;
  top: 7px;
  color: #2a2440;
}
.section-1 div {
  padding-top: 40px;
}
.section-1 h5{
  display: inline-block;
  margin-right:20px;
  color: #2a2440;
  font-size: 20px;
  font-weight: 900;
}
.section-1 h5 a {
  text-decoration: none;
  color: #2a2440;
}
.section-1 h5:first-child {
  border-bottom: 5px solid #ffc107;
}
/*agregando estilos a la seccion students*/
.students{
  box-sizing: content-box;
  padding:0 ;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.colum-left,.colum-right,.colum-1,.colum-2,.container-skills{
  display: inline-block;
  margin: 7px;
}
.colum-left{
  position: absolute;
  left: 0;
  width:40%;
  height: 100%;
  padding: 7px;
}
.specialization{
  position: absolute;
  right: 0;
  padding: 15px;
  width: 450px;
  border-radius: 5px;
  background: #f7f7f7;
  border-bottom: 1px solid gray;
  border-right:  1px solid gray;
}
.specialization ul{
  padding: 0;
}
.specialization ul li{
  list-style: none;
}
.icon-square-o{
  margin-right: 10px;
  color: #ffc107;
}
.icon-square-o:hover{
  background: #ffc107;
}
.colum-right{
  position:absolute;
  right: 0;
  width:55%;
  height: 100%;
  text-transform: uppercase;
}
.search{
  position: absolute;
  left: 0;
  width: 800px;
  height: 40px;
  top: 0;
  border-radius: 5px;
  background: #f7f7f7;
  border-bottom: 1px solid gray;
  border-right:  1px solid gray;
}
input{
  display:inline-block;
  border: none;
  outline: none;
  width: 670px;
  background: #f7f7f7;
}
.icon-search{
  display: inline-block;
  margin: 10px;
}
.students-skills{
  position:relative;
  left: 0;
  top:60px;
  margin-bottom: 20px;
  padding: 10px;
  width: 800px;
  height: 190px;
  border-radius: 5px;
  background: #f7f7f7;
  border-bottom: 1px solid gray;
  border-right:  1px solid gray;
}
.figure{
  margin: 5px;
  float: left;
  background: red;
}
.background-image-peru{
  background-image: url(../assets/img/peru.png);
}
.figure .image{
  width: 100px;
  height: 100px;
}

.colum-1{
  font-size: 20px;
}
.colum-1 h1,.colum-1 p,.box h1,.box p{
  margin: 0;
}
.colum-1 .container-skills p{
  padding: 2px;
  display: inline-block;
  list-style: none;
  font-size: 10px;
  margin-right: 20px;
  background: white;
}
.colum-2{
  float: right;
  margin:10px;
  font-size: 10px;
}
.box{
  display: inline-block;
  padding: 8px;
  margin-right: 5px;
  background:white;
}
